.myformclass{
	padding: 1rem;
}

.mytextcenter{
	margin: 1rem auto;
	text-align: center;
	display: block;
}

.mydivclass{
	margin: 1rem auto;
}

.myimageclass{
	width: 50px;
	display: block;
	margin: 1rem auto;
}

.myitemclass{
	color: black;
	margin-top: 0.5rem;
}

.mycheck{
	width: 100%;
}

.doneClass{
	background: #00c851;
	color: white;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    /* box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25); */
}